@use '@/styles/mixins/flex' as flex;
@use '@/styles/mixins/util' as util;
@import '@/styles/variable.scss';

.coin-charge-container {
  h3 {
    display: flex;
    font-weight: 700;
    padding-top: 1.8rem;
  }

  .description {
    display: flex;
    gap: 4rem;
    width: 100%;

    p {
      background-color: #fafafa;
      border-radius: 2rem;
      padding: 2rem;
    }
  }

  .coin-package {
    display: flex;
    gap: 4rem;
  }
  .package-list {
    padding: 1.8rem;

    .contents {
      width: 100%;
      // height: 35rem; //임시
      // background-color: yellowgreen;
    }
  }
}
