/* Button.scss */

@mixin button-color($bg-color, $text-color) {
  background: $bg-color;
  color: $text-color;

  &:hover {
    background: $bg-color;
  }

  &:active {
    background: $bg-color;
  }

  &.disabled {
    color: var(--color-gray-3);
    background-color: var(--color-gray-1);
    font-weight: 500;
    cursor: not-allowed;
  }
}

@mixin button-type($bg-color, $text-color, $border-color: transparent) {
  background-color: $bg-color;
  color: $text-color;
  box-shadow: 0 0 0 2px transparent inset;

  &.type-outlined {
    background-color: var(--color-white);
    box-shadow: 0 0 0 2px $border-color inset;
    color: $text-color;
  }

  &.type-text {
    background-color: transparent;
    color: $text-color;

    &.disabled {
      color: var(--color-gray-2);
      background-color: transparent;
    }
  }
}

.button {
  padding: 0.8rem 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  border-radius: 1rem;
  cursor: pointer;

  .icon-img {
    margin-right: 0.7rem;
  }

  &.size-sm {
    padding: 0.6rem 1rem;
    width: fit-content;
    font-size: 1.2rem;
    font-weight: 500;

    .icon-img {
      margin-right: 0.6rem;
    }
  }

  &.size-md {
    width: fit-content;
    font-size: 1.4rem;
    font-weight: 600;
  }

  &.size-full {
    width: 100%;
    font-size: 1.6rem;
    font-weight: 700;
  }

  &.theme-primary {
    @include button-color(var(--color-yellow-3), var(--color-black));
    &.type-default {
      @include button-color(var(--color-yellow-3), var(--color-black));
    }
    &.type-tonal {
      @include button-color(var(--color-yellow-2), var(--color-black));
    }
    @include button-type(var(--color-yellow-3), var(--color-black), var(--color-yellow-3));

    &.type-outlined {
      background-color: var(--color-white);
      box-shadow: 0 0 0 2px var(--color-yellow-2) inset;
      color: var(--color-yellow-3); // outlined 상태에서 텍스트 색상 수정
    }

    &.type-text {
      background-color: transparent;
      color: var(--color-yellow-3); // type-text 상태에서 텍스트 색상 수정
    }
  }

  &.theme-secondary {
    @include button-color(var(--color-skyblue-2), var(--color-white));
    &.type-default {
      @include button-color(var(--color-skyblue-2), var(--color-white));
    }
    &.type-tonal {
      @include button-color(var(--color-skyblue-1), var(--color-skyblue-2));
    }
    @include button-type(var(--color-skyblue-2), var(--color-white), var(--color-skyblue-2));

    &.type-outlined {
      background-color: var(--color-white);
      box-shadow: 0 0 0 2px var(--color-skyblue-2) inset;
      color: var(--color-skyblue-2); // outlined 상태에서 텍스트 색상 수정
    }

    &.type-text {
      background-color: transparent;
      color: var(--color-skyblue-2); // type-text 상태에서 텍스트 색상 수정
    }
  }

  &.theme-black {
    @include button-color(var(--color-black), var(--color-white));
    &.type-default {
      @include button-color(var(--color-black), var(--color-white));
    }
    &.type-tonal {
      @include button-color(var(--color-gray-1), var(--color-black));
    }
    @include button-type(var(--color-black), var(--color-white), var(--color-black));

    &.type-outlined {
      background-color: var(--color-white);
      box-shadow: 0 0 0 2px var(--color-black) inset;
      color: var(--color-black); // outlined 상태에서 텍스트 색상 수정
    }

    &.type-text {
      background-color: transparent;
      color: var(--color-black); // type-text 상태에서 텍스트 색상 수정
    }
  }

  &.rounded {
    border-radius: 100px;
  }
}
