@use '@/styles/mixins/flex' as flex;
@use '@/styles/mixins/util' as util;
@import '@/styles/variable.scss';

.paymodal-container {
  @include flex.flexColumn;
  gap: 0.8rem;
  justify-items: center;
  .amount {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  strong {
    letter-spacing: 0.1rem;
    color: $color-green;
  }
  .options {
    display: flex;
    align-items: center;
    margin-top: 2rem;

    label {
      margin-left: 0.4rem;

      input {
        vertical-align: text-top;
      }
    }
  }

  .agreement {
    font-size: 1.2rem;
    color: $color-gray-3;

    display: flex;
    align-items: center;
  }

  // NOTE - UX에 맞게 커스텀해 적용중
  .modal-btns {
    display: flex;
    gap: 1rem;

    button {
    }
  }
}
