/* 연한거 - 1 */
/* 진한거 - 2 - 3 -4 순 */

:root {
  /* basic */
  --color-primary: #fee500;
  --color-white: #fff;
  --color-secondary: #d0f4ff;
  --color-success: #4cbe83;
  --color-warning: #ffa726;
  --color-error: #eb5757;
  --color-yellow-1: #fff1d3;
  --color-yellow-2: #ffc16b;
  --color-yellow-3: #ffa726;
  --color-green: #2bc16b;
  --color-pink-1: #ff8e95;
  --color-pink-2: #fe6e77;
  --color-magenta: #ff4cbf;
  --color-blue: #648ff7;
  --color-skyblue-1: #a9e9fe;
  --color-blue: #a7e9fe;
  --color-skyblue-2: #00a3ff;
  --color-black: #111111;
  --color-gray-1: #dfdfdf;
  --color-gray-2: #bdbdbd;
  --color-gray-3: #828282;
  --color-gray-4: #4f4f4f;
  --color-gray-5: #333333;
  --color-brown: #462d0a;

  /* chart */
  --color-chart-1: #ff6f41;
  --color-chart-2: #bcd426;
  --color-chart-3: #4cbe83;
  --color-chart-4: #fece5e;
  --color-chart-5: #ff6f78;
  --color-chart-6: #ff9d9d;
  --color-chart-7: #ff89d4;

  /* layout */
  --layout-pc: 1280px;
  --layout-padding: 10rem;
  --header-height-mo: 8rem;
  --title-extra: 2rem;
  --title-big: 1.8rem;
  --title-large: 1.6rem;
  --title-medium: 1.4rem;
  --title-small: 1.2rem;
  --transition-duration: 0.3s;
  --box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.2);
}
