@import '@/styles/variable';

.nodata-cont {
  padding: 8rem;
  width: 100%;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  color: $color-black;

  h2 {
    font-size: 1.8rem;
    font-weight: 700;
  }
  p {
    margin-bottom: 4rem;
    color: $color-gray-3;
  }
}
