.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-buttons {
  display: flex;
  gap: 2rem;
}
.modal-icon {
  width: 5.8rem;
  height: 5.8rem;
  background-image: url('/image/icon_blue_s.svg');
  background-repeat: no-repeat;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  background: #ffffff;
  padding: 3rem;
  border-radius: 2rem;
  width: 90%;
  max-width: 38rem;
  text-align: center;
}

.modal-title {
  font-size: 2rem;
  font-weight: 500;
}
