// Header.scss

.HeaderLayout {
  display: flex;
  font-size: 1.8rem;
  justify-content: space-between;
  align-items: center;
  // box-shadow: inset 0px 0px 20px blue;
  margin-bottom: 10rem;
  // box-shadow: inset 0px 0px 20px blue;

  .logo-link {
    text-decoration: none; // 밑줄 제거
    color: inherit; // 상위 요소의 색상 상속
  }

  .logo {
    font-weight: bold;
  }
}
