// Header.scss

.HeaderLayout {
  display: flex;
  font-size: 1.8rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10rem;
  // box-shadow: inset 0px 0px 20px blue;

  div {
    width: 4.6rem;
  }

  .logo-link {
    text-decoration: none; // 밑줄 제거
    color: inherit; // 상위 요소의 색상 상속
  }

  .logo {
    font-weight: bold;
  }

  .header-nav ul {
    display: flex;
    list-style: none;
  }

  .header-nav li {
    margin: 0 auto;
    padding: 1rem 2.4rem;
  }

  .header-nav a {
    text-decoration: none;
    color: #000;
    transition: color 0.3s;
  }

  .header-nav a:hover {
    color: #007bff;
  }
}
