.header-nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;

  ul {
    position: relative;
    display: flex;
    list-style: none;
    font-size: 1.6rem;
  }

  li {
    margin: 0 auto;
    width: 10rem;
    padding: 1rem 0;
    z-index: 20;
    text-align: center;
  }

  a {
    text-decoration: none;
    color: #000;
  }

  // 이동하는 active 박스 설정
  .active-box {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #f6f6f6;
    border-radius: 10rem;
    z-index: 10; // active 박스는 li 요소 뒤에 배치
    transition: all 0.3s ease;
  }

  li.active ~ .active-box {
    width: calc(100% + 4rem); // padding을 고려하여 너비 조정
    transform: translateX(calc(var(--index) * 100%)); // 각 li의 위치에 맞게 이동
  }

  @media (min-width: 768px) and (max-width: 1023px) {
  }
}
