.write-container {
  max-width: 60rem;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  .title {
    font-size: 2.2rem;
    margin-bottom: 2rem;
    text-align: center;
  }

  .write-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .form-group {
      display: flex;
      flex-direction: column;

      .form-label {
        font-size: 1.6rem;
        margin-bottom: 0.5rem;
      }

      .form-input,
      .form-textarea {
        padding: 0.5rem;
        font-size: 1.2rem;
        border: 0.1rem solid #000;
        border-radius: 0.4rem;
        resize: none;
        transition: all 0.2s ease;
        &::placeholder {
          color: #aaa; /* 플레이스홀더 텍스트 색상 */
        }

        &:focus {
          font-size: 1.5rem;
          border-color: #f5a051; /* 포커스 시 테두리 색상 */
          box-shadow: 0 0 5px rgba(245, 160, 81, 0.7); /* 포커스 시 그림자 효과 */
          outline: none;
        }
      }

      .form-input {
        height: 3.6rem;
      }

      .form-textarea {
        height: 16rem;
      }
    }

    .submit-btn {
      padding: 1rem 2rem;
      font-size: 1.6rem;
      color: #fff;
      background-color: #000;
      text-align: center;
      border: none;
      border-radius: 0.4rem;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #333;
      }

      &:disabled {
        background-color: #888;
        cursor: not-allowed;
      }
    }

    .note {
      margin-top: 2rem;
      font-size: 1.2rem;
      color: #666;
      background-color: #f9f9f9;
      padding: 1rem;
      border-left: 0.3rem solid #f5a051;
      border-radius: 0.4rem;

      background-image: url('/image/character_3_left.svg');
      background-repeat: no-repeat;
      background-position: calc(110%);
      .note-title {
        font-size: 1.4rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
      }

      .note-item {
        margin-bottom: 0.5rem;
      }
    }
  }
}

@media (max-width: 768px) {
  .write-container {
    max-width: 60rem;
    margin: 10rem auto;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    .title {
      font-size: 2.2rem;
      margin-bottom: 2rem;
      text-align: center;
    }

    .write-form {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      .form-group {
        display: flex;
        flex-direction: column;

        .form-label {
          font-size: 1.6rem;
          margin-bottom: 0.5rem;
        }

        .form-input,
        .form-textarea {
          padding: 0.5rem;
          font-size: 1.2rem;
          border: 0.1rem solid #000;
          border-radius: 0.4rem;
          resize: none;
          transition: all 0.2s ease;
          &::placeholder {
            color: #aaa; /* 플레이스홀더 텍스트 색상 */
          }

          &:focus {
            font-size: 1.5rem;
            border-color: #f5a051; /* 포커스 시 테두리 색상 */
            box-shadow: 0 0 5px rgba(245, 160, 81, 0.7); /* 포커스 시 그림자 효과 */
            outline: none;
          }
        }

        .form-input {
          height: 3.6rem;
        }

        .form-textarea {
          height: 16rem;
        }
      }

      .submit-btn {
        padding: 1rem 2rem;
        font-size: 1.6rem;
        color: #fff;
        background-color: #000;
        text-align: center;
        border: none;
        border-radius: 0.4rem;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #333;
        }

        &:disabled {
          background-color: #888;
          cursor: not-allowed;
        }
      }

      .note {
        margin-top: 2rem;
        font-size: 1.2rem;
        color: #666;
        background-color: #f9f9f9;
        padding: 1rem;
        border-left: 0.3rem solid #f5a051;
        border-radius: 0.4rem;

        background-image: url('/image/character_3_left.svg');
        background-repeat: no-repeat;
        background-position: calc(110%);
        .note-title {
          font-size: 1.4rem;
          font-weight: bold;
          margin-bottom: 0.5rem;
        }

        .note-item {
          margin-bottom: 0.5rem;
        }
      }
    }
  }
}
