@use '@/styles/mixins/flex' as flex;
@use '@/styles/mixins/util' as util;
@import '@/styles/variable.scss';

.mypage-container {
  max-width: calc(100% - 20rem);
  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;

  .mypage-section {
    width: 34rem;
    height: 31rem;

    padding: 2.4rem;
    border: 1px solid #e5e5e5;
    border-radius: 2rem;

    h2 {
      margin-bottom: 2rem;
      text-indent: 2rem;
      font-size: 1.8rem;
      font-weight: 700;
      &.sr-only {
        @include util.sr-only;
      }

      &.with-arrow {
        width: 3rem;
        height: 3rem;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url('/image/icon_arrow_right.svg');
      }
    }
  }

  .contents {
    height: 100%;

    &.profile {
      @include flex.flexCenter;
      flex-direction: column;
      color: $color-gray-4;

      .profile-img {
        position: relative;
        z-index: 10;
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
        margin-bottom: 1rem;
        // FIXME - background-color
        border: 1px solid $color-gray-1;
        img {
          border-radius: 50%;
          width: 100%;
          height: 100%;
        }

        // FIXME - 수정 기능이 없어 주석처리합니다.
        // .edit {
        //   position: absolute;
        //   bottom: 0;
        //   right: -1rem;
        //   z-index: 30;
        //   width: 3rem;
        //   height: 3rem;
        //   background-repeat: no-repeat;
        //   background-size: contain;
        //   background-image: url('/image/icon_edit.svg');
        //   cursor: pointer;
        // }
      }

      strong {
        font-weight: 700;
        color: $color-black;
      }
    }

    &.result {
      ul {
        width: 100%;
        @include flex.flexColumn;
        gap: 1rem;
      }

      li {
        width: 100%;
        height: 8.4rem;
        padding: 1.6rem;
        border: 1px solid $color-gray-1;
        border-radius: 2rem 2rem 2rem 0;

        @include flex.flexColumn;
        justify-content: space-between;
        .result-title {
          display: flex;
          justify-content: space-between;
          font-size: 1.6rem;

          .date {
            font-size: 1.4rem;
            color: $color-gray-3;
          }
        }
      }

      .nodata-content {
        width: 100%;
        height: 60%;
        @include flex.flexColumn;
        gap: 0.5rem;
        font-size: 1.4rem;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;

        background-image: url('/image/character_5.svg');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(255, 255, 255, 0.8);
          z-index: 1;
        }

        * {
          position: relative;
          z-index: 2;
        }

        h2 {
          font-size: 2rem;
          font-weight: bold;
          color: #333;
          text-align: center;
          margin: 0;
          padding: 0.5rem 1rem;
          background: radial-gradient(
            circle,
            rgba(255, 255, 255, 0.9) 0%,
            rgba(255, 255, 255, 0) 70%
          );
          border-radius: 8px;
        }

        p {
          font-size: 1.2rem;
          color: #666;
          text-align: center;
          margin: 0;
          padding: 0.5rem 1rem;
          background: radial-gradient(
            circle,
            rgba(255, 255, 255, 0.9) 0%,
            rgba(255, 255, 255, 0) 70%
          );
          border-radius: 8px;
          line-height: 1.5;
        }
      }
    }

    &.coin {
      @include flex.flexColumn;
      gap: 2rem;
      font-size: 1.6rem;
      font-weight: 700;

      .coin-box {
        @include flex.flexCenter;
        height: 5rem;
        width: 100%;
        border: 1px solid $color-gray-1;
        border-radius: 2rem;

        .coin-img {
          width: 2.4rem;
          height: 2.4rem;
          margin-right: 1rem;
          background-repeat: no-repeat;
          background-size: contain;
          background-image: url('/image/coin.svg');
        }
        b {
          color: $color-yellow-3;
          font-weight: 700;
          font-size: 1.8rem;
        }
      }
    }

    &.etc {
      @include flex.flexCenter;
      flex-wrap: wrap;
      gap: 2rem;

      li {
        @include flex.flexCenter;

        position: relative;
        width: calc(50% - 1.5rem);
        height: calc(50% - 1.5rem);
        border-radius: 2rem;
        border: 1px solid $color-gray-1;

        transition: all 0.2s ease-in-out;
        &:hover {
          // @include util.hoverEffect;

          // transform: translateY(-4px) scale(1.02);
          // border: 0.1rem solid var(--color-skyblue-2);

          transform: translateY(-5px);
          box-shadow: 0 5px 15px 0 rgba($color-yellow-3, 0.4);
        }
      }

      a {
        width: 100%;
        height: 100%;
        padding: 1.6rem;
        @include flex.flexColumn;
        justify-content: center;
        align-items: center;
      }

      b {
        font-size: 1.2rem;
      }
    }
  }
}
