@use '@/styles/mixins/flex' as flex;
@use '@/styles/mixins/util' as util;
@import '@/styles/variable.scss';

.coin-charge-container {
  position: relative;
  min-height: 44vh;

  h3 {
    display: flex;
    font-weight: 700;
    padding-top: 1.8rem;
    word-break: keep-all;
    min-width: 6.8rem;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 7.5rem;
    height: 7.5rem;
    background-image: url('/image/character_3.svg');
    background-position: right left;
    // background-position: 25% 100%;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.7;
  }

  .description {
    display: flex;
    gap: 4rem;
    width: 100%;

    p {
      background-color: #fafafa;
      border-radius: 2rem;
      padding: 2rem;
    }
  }

  .coin-package {
    display: flex;
    gap: 4rem;
  }
  .package-list {
    padding: 1.8rem;
    width: 100%;

    .contents {
      @include flex.flexColumn;
      gap: 1.5rem;
      flex-wrap: wrap;
      max-height: 24rem;

      li {
        display: flex;
        max-width: 28rem;
        justify-content: space-between;

        .left-content {
          display: flex;
          align-items: center;
          gap: 1rem;

          font-size: 1.4rem;
          font-weight: 500;
          b {
            margin: 0 0.2rem;
          }
        }

        .charge-button {
          width: 9rem;
        }
      }
    }

    // 모바일
    @media (max-width: 767px) {
      .contents {
        flex-wrap: no-wrap;
        max-height: 100%;

        li {
          min-width: 55%;
        }
      }
    }
  }
}
