@mixin flexColumn {
  display: flex;
  flex-direction: column;
}

// TODO - background z-index와 background 추가, ::after 속성으로 톡톡이 이미지 넣기

.background {
  width: 100%;
  height: 50vh;
}

.login-page-container {
  @include flexColumn;
  align-items: center;

  .title {
    font-size: 2.4rem;
  }
}
