@use '@/styles/mixins/flex' as mixins;
@import '@/styles/variable.scss';

.login-page-container {
  @include mixins.flexColumn;
  align-items: center;
  position: relative;

  // FIXME - 백그라운드와 캐릭터 svg 색깔 조절

  .background {
    // background-color: $color-yellow-1;
    background-color: lighten($color-blue-1, 10%);
    background-image: url('/image/character_6.svg');
    background-size: 330px;
    // background-position: right bottom;
    background-position: 100% 150%;
    background-repeat: no-repeat;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    height: 60vh;
  }

  .title {
    position: absolute;
    left: 50%;
    top: -10%;
    font-size: 2.4rem;
    // REVIEW - 로그인 black으로 하면 너무 진한 것 같은데 적절한 색 필요할듯
    // color: $color-gray-4;
    transform: translateX(-50%);
    white-space: nowrap;
  }
}
