@use '@/styles/mixins/flex' as mixins;
@import '@/styles/variable.scss';

.login-page-container {
  @include mixins.flexColumn;
  align-items: center;
  position: relative;

  .background {
    background-color: $color-yellow-1;
    background-image: url('/image/character_6.svg');
    background-size: 330px;
    // background-position: right bottom;
    background-position: 100% 300%;
    background-repeat: no-repeat;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    height: 60vh;
  }

  .title {
    position: absolute;
    left: 50%;
    top: -10%;
    font-size: 2.4rem;
    transform: translateX(-50%);
    white-space: nowrap;
  }
}
