@use '@/styles/mixins/flex' as flex;
@import '@/styles/_variable.scss';

.sidebar-container {
  button {
    cursor: pointer;
  }
  .hamburger-menu-btn {
    position: absolute;
    right: 2.5rem;
    top: 50%;
    transform: translateY(-50%);
    width: 2.5rem;
    height: 2.5rem;
  }

  .sidebar {
    .hamburger-menu-btn {
      top: 3.5rem;
      right: 2.5rem;
    }

    position: fixed;
    top: 0;
    right: 0;
    width: 30rem;
    height: 100%;

    backdrop-filter: blur(12px) saturate(45%);
    -webkit-backdrop-filter: blur(12px) saturate(45%);
    background-color: rgba(255, 255, 255, 0.85);
    border: 1px solid rgba(209, 213, 219, 0.3);

    box-shadow: -2px 0px 8px rgba(0, 0, 0, 0.3);
    color: white;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    padding: 20px;

    display: flex;
    flex-direction: column;

    transform: translateX(105%);
    transition: transform 0.35s ease;
    &.open {
      transform: translateX(0);
    }

    .user-profile-container {
      width: 100%;
      padding: 2rem;
      color: $color-black;

      .profile-button {
        @include flex.flexCenter;
        flex-direction: column-reverse;
        gap: 1.6rem;
        cursor: pointer;

        .user-name {
          display: inline-block;
          text-align: center;
          vertical-align: bottom;
          color: $color-blue-2;
          max-width: 10rem; // NOTE - 이름 영역 고정값, 한글 기준 8자 수용
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }

    .header-nav {
      ul {
        color: $color-black;
        @include flex.flexColumn;
        gap: 1rem;

        li {
          padding: 1rem;
          transition: color 0.3s ease;

          &:hover {
            color: $color-blue-2;
          }
        }
      }
    }
  }

  @media (min-width: 768px) and (max-width: 1023px) {
  }
}
