@use '@/styles/mixins/flex' as flex;
@import '@/styles/variable.scss';

.footer-container {
  position: absolute;
  transform: translateY(0%);
  left: 0;
  right: 0;
  min-height: 20rem;

  padding: 3.2rem var(--layout-padding) 3.2rem var(--layout-padding);
  background-color: #303237;
  color: $color-gray-3;

  display: flex;
  justify-content: space-between;

  .contact-contents {
    @include flex.flexColumn;
    gap: 1rem;

    .copyright {
      color: $color-gray-2;
      word-break: keep-all;

      b {
        font-weight: 700;
      }
    }
  }

  .head {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: $color-gray-2;

    h2 {
      font-size: 1.6rem;
      color: $color-gray-1;
    }

    .title {
      word-break: keep-all;
    }
  }

  .footer-details {
    .info {
      @include flex.flexColumn;
      margin-top: 1rem;

      .info-content {
        display: flex;
        gap: 1rem;

        dt::after {
          content: '|';
          margin-left: 0.5rem;
        }
      }
    }
  }

  .social-links {
    display: flex;
    align-items: center;
  }

  // 모바일 환경

  /* PC 환경 */
  @media (min-width: 768px) {
    // .footer-container {
    //   padding: 4rem;
    // }
  }
}

@media (max-width: 480px) {
  .footer-container {
    position: relative;

    padding: 3rem;
    font-size: 1.2rem;
    max-height: 20rem;

    .contact-contents {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      max-width: 22rem;
    }

    .social-links {
      display: flex;
      flex-direction: column;
      height: 100%;
      margin-bottom: -1rem;
    }
  }
}
