@import '../../../../../../styles/variable';
@import '../../../../../../styles/mixins/flex.scss';

section.share {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  width: 100%;
  min-height: fit-content;

  button {
    margin: 3rem 0;
  }
}
