@import '@/styles/variable';
@import '@/styles/mixins/flex.scss';

.Mbti-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  margin-top: 3rem;

  .swiper {
    width: 60%; // 기본 너비
    overflow: hidden;
  }

  .card-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    color: #3e2500;
    font-size: 2rem;
    font-weight: 800;

    :nth-child(1) {
      font-size: 2.4rem;
      color: #ffa726;
    }

    .titles {
      display: flex;
      gap: 1rem;

      p {
        font-size: 1.2rem;
      }
      :nth-child(1) {
        color: #fecd5b;
        font-size: 1.4rem;
      }
    }
  }

  .mbti-reason {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .swiper-wrapper {
    display: flex;
  }

  .swiper-slide {
    border: 0.2rem solid #fecd5b;
    border-radius: 2rem;
    width: 40rem;
    padding: 2rem;
    transition: filter 0.3s ease;
  }

  .swiper-slide:not(.swiper-slide-active) {
    filter: blur(1px);
    opacity: 0.3;
    transform: scale(0.8);
  }

  .swiper-slide-active {
    filter: blur(0);
    transform: scale(1);
  }

  .swiper-pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }

  .swiper-pagination-bullet {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    opacity: 0.7;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-pagination-bullet-active {
    background: #fecd5b;
    opacity: 1;
    color: #222;
  }

  @media (max-width: 1024px) {
    .swiper {
      width: 80%;
    }

    .swiper-slide {
      width: 35rem;
    }
  }

  @media (max-width: 768px) {
    .swiper {
      width: 90%;
    }

    .swiper-slide {
      width: 20rem;
      padding: 1rem;
    }

    .card-header {
      font-size: 2rem;

      :nth-child(1) {
        font-size: 2.4rem;
      }

      .titles p {
        font-size: 1rem;
      }
    }
  }

  @media (max-width: 480px) {
    flex-direction: column;

    .swiper {
      width: 100%;
    }

    .swiper-slide {
      width: 90%;
      padding: 1.5rem;
    }

    .card-header {
      font-size: 1.8rem;

      :nth-child(1) {
        font-size: 2rem;
      }

      .titles p {
        font-size: 0.9rem;
      }
    }
  }
}

.progress-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  transition: 0.3s ease;

  p {
    font-size: 1.4rem;
    font-weight: 400;
  }

  .progress-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
  }

  .progress-bar-wrapper {
    width: 100%;
    background-color: #fff1d2;
    border-radius: 1rem;
    height: 1.6rem; // 프로그래스바 높이
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .progress-bar {
      background-color: #ffa726; // 프로그래스바 색상
      color: #fff;
      padding: 0.3rem;
      border-radius: 1rem;
      font-size: 1rem;
      white-space: nowrap;
      overflow: hidden;
      height: 100%;
      transition: width 0.5s ease-in-out;
      position: relative;
      z-index: 1;

      .progress-bar-number {
        display: flex;
        justify-content: flex-start;
        margin-left: 0.3rem;
        font-size: 0.6rem;
      }
    }
  }

  @media (max-width: 768px) {
    p {
      font-size: 1.2rem;
    }

    .progress-bar-wrapper {
      height: 1.4rem;
    }

    .progress-bar {
      font-size: 0.9rem;
    }
  }

  @media (max-width: 480px) {
    p {
      font-size: 1rem;
    }

    .progress-bar-wrapper {
      height: 1.2rem;
    }

    .progress-bar {
      font-size: 0.8rem;
    }
  }
}
